@charset "UTF-8";
.cooking-time input, .portions-count input, .add-ingredient__input, .recipe__title input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #b6b6b6;
}
.cooking-time input:focus, .portions-count input:focus, .add-ingredient__input:focus, .recipe__title input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  font-family: Manrope, serif;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  border-bottom: 1px solid #b6b6b6;
  box-shadow: px 4px 5px -5px rgba(34, 60, 80, 0.6);
}

.header__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 5px;
}
@media screen and (min-width: 1024px) {
  .header__container {
    padding: 10px 5px;
  }
}

a {
  text-decoration: none;
}

.logo {
  color: black;
  font-weight: 900;
  background: rgb(240, 255, 0);
  padding: 5px 15px;
  font-size: 16px;
  height: 100%;
}
.logo:before {
  content: "ХХ";
}
@media screen and (min-width: 768px) {
  .logo:before {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 1024px) {
  .logo:before {
    content: "ХавайХавай";
    font-size: 1.5em;
    padding: 10px 15px;
  }
}
@media screen and (min-width: 2560px) {
  .logo {
    font-size: 1.25em;
  }
}

.search {
  display: flex;
  justify-content: center;
}

.search form {
  margin: 0;
  padding: 5px;
  display: flex;
  height: 100%;
}
.search form .search__form {
  display: block;
  border-radius: 25px;
  border: 1px solid #b6b6b6;
  padding: 5px 15px;
  width: 100%;
  margin: auto 5px auto 5px;
  height: 100%;
}
.search form .search__form:focus {
  outline: 0;
  border: 1px solid rgb(240, 255, 0);
  box-shadow: 0 0 5px 2px rgba(240, 255, 0, 0.53);
}
@media screen and (min-width: 700px) {
  .search form .search__form {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 1024px) {
  .search form .search__form {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 2560px) {
  .search form .search__form {
    font-size: 1.5em;
  }
}
.search form .search__btn {
  height: 35px;
  width: 50px;
  border: 1px solid #d5d5d5;
  background: url("../img/search_icon.svg") no-repeat center;
  background-size: 25px 25px;
  border-radius: 10px;
  cursor: pointer;
  margin: auto 5px auto 0;
}
.search form .search__btn:focus, .search form .search__btn:hover {
  border: 1px solid rgb(240, 255, 0);
  background-color: rgb(240, 255, 0);
}
@media screen and (min-width: 2560px) {
  .search form .search__btn {
    height: 45px;
    width: 55px;
    background-size: 30px 30px;
  }
}

.create-recipe {
  display: none;
}
@media screen and (min-width: 700px) {
  .create-recipe {
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    height: 35px;
    width: 45px;
    display: flex;
    justify-content: center;
    margin: auto 5px auto 0;
  }
  .create-recipe:active, .create-recipe:hover {
    border: 1px solid rgb(240, 255, 0);
    background-color: rgb(240, 255, 0);
  }
  .create-recipe img {
    display: block;
    margin: auto auto;
    height: 25px;
    width: 25px;
    padding-left: 2px;
  }
}
@media screen and (min-width: 2560px) {
  .create-recipe {
    height: 45px;
    width: 55px;
  }
  .create-recipe img {
    width: 30px;
    height: 30px;
  }
}

.auth {
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  height: 35px;
  width: 55px;
  display: flex;
  justify-content: center;
  margin: auto 5px auto 0;
}
.auth:active, .auth:hover {
  border: 1px solid rgb(240, 255, 0);
  background-color: rgb(240, 255, 0);
}
.auth img {
  display: block;
  margin: auto auto;
  height: 25px;
  width: 25px;
  padding-right: 2px;
}
@media screen and (min-width: 700px) {
  .auth {
    height: 35px;
    width: 45px;
  }
  .auth img {
    height: 25px;
    width: 25px;
  }
}
@media screen and (min-width: 2560px) {
  .auth {
    height: 45px;
    width: 55px;
  }
  .auth img {
    width: 30px;
    height: 30px;
  }
}

.menu {
  z-index: 2;
  margin-left: 5px;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu__list {
  background: #ffffff;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  right: -100%;
  top: 3.2rem;
}
@media screen and (min-width: 500px) {
  .menu__list {
    width: 33.33%;
    height: auto;
    top: 3.1em;
    border-left: 1px solid #b6b6b6;
  }
}
@media screen and (min-width: 768px) {
  .menu__list {
    position: static;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border: none;
  }
}

.active {
  right: 0;
}

.menu__item {
  border-bottom: 1px solid #b6b6b6;
}
.menu__item:last-child a {
  display: block;
  background: rgb(240, 255, 0);
  text-decoration: none;
  font-weight: 900;
}
@media screen and (min-width: 700px) {
  .menu__item:last-child a {
    display: none;
  }
}
.menu__item a {
  position: relative;
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: underline;
  padding: 5px 0;
}
.menu__item a:after {
  right: 0;
  width: 0;
  transition: width 0.3s;
  background: #000;
  content: "";
  height: 2px;
  bottom: -5px;
  position: absolute;
  display: block;
}
.menu__item a:hover:after {
  left: 0;
  transition: width 0.3s;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .menu__item a {
    border-bottom: 0;
    text-decoration: none;
    padding: 0 4px;
  }
}
@media screen and (min-width: 1024px) {
  .menu__item a {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 2560px) {
  .menu__item a {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 768px) {
  .menu__item {
    border-bottom: 0;
  }
}
@media screen and (min-width: 2560px) {
  .menu__item {
    padding: 0 10px;
  }
}

.hamb {
  display: block;
  cursor: pointer;
  padding: 2px 4px;
  margin: 5px;
  border-radius: 10px;
}
.hamb:hover {
  background: rgb(240, 255, 0);
}
@media screen and (min-width: 768px) {
  .hamb {
    display: none;
  }
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: 0.3s;
  background-color: #000;
}

.active .bar:nth-child(2) {
  opacity: 0;
}
.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content-container {
  width: 320px;
  height: 100%;
  margin: 0 auto;
  padding: 5px;
}
@media screen and (min-width: 660px) {
  .content-container {
    width: 660px;
  }
}
@media screen and (min-width: 990px) {
  .content-container {
    width: 990px;
  }
}

.recipe__title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: start;
}
@media screen and (min-width: 768px) {
  .recipe__title {
    font-size: 1.5em;
  }
}

.recipe__img {
  margin: 0 0 5px 0;
}
.recipe__img img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.recipe__info {
  font-weight: 200;
  font-size: 0.85em;
  margin-top: 15px;
  color: #000;
}
@media screen and (min-width: 768px) {
  .recipe__info {
    font-size: 1.25em;
  }
}

.info__description {
  width: 100%;
  margin-bottom: 15px;
}

.info__grid {
  display: grid;
  border: 1px solid #b6b6b6;
  box-shadow: 0px 0px 5px 1px rgb(182, 182, 182);
  border-radius: 15px;
  width: 100%;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "ingr some_Info1" "ingr some_Info2";
  max-width: 425px;
  margin: 0 auto 15px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .info__grid {
    font-size: 0.75em;
  }
}

.info__ingredients {
  grid-area: ingr;
  margin: 10px auto 10px 3em;
  text-align: center;
}
.info__ingredients ul {
  list-style: none;
  text-align: start;
  padding: 0;
  margin: 0;
}

.info__real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.info__real-checkbox:checked + .info__custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
.info__real-checkbox:checked + .info__custom-checkbox {
  border: 1px solid rgb(240, 255, 0);
  background: rgb(240, 255, 0);
}

.checkbox-label:hover .info__custom-checkbox {
  border: 1px solid #000;
}

.info__custom-checkbox {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #b6b6b6;
  background: white;
  border-radius: 3px;
  vertical-align: sub;
  margin-bottom: 3px;
}
.info__custom-checkbox:before {
  height: 12px;
  width: 12px;
  content: "";
  display: inline-block;
  background-image: url("https://res.cloudinary.com/dx0qgt7t5/image/upload/v1665949434/checked-icon_otu5yt.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.1s ease-in;
}

.info__cooking-time {
  grid-area: some_Info1;
  margin: 10px 0 10px 0;
  background: url("../img/timer-icon.svg") no-repeat;
  padding-left: 1.75em;
  width: 100%;
  text-align: start;
  transform: translate(30%, 0);
}

.info__portions-count {
  width: 100%;
  text-align: start;
  transform: translate(30%, 0);
  grid-area: some_Info2;
  margin-bottom: 10px;
}
.info__portions-count > div {
  background: url("../img/portions-icon.svg") no-repeat;
  background-size: contain;
  padding-left: 1.75em;
}

.recipe__step {
  margin-bottom: 40px;
}
@media screen and (min-width: 600px) {
  .recipe__step {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img info";
  }
}

.step__number {
  background: rgb(240, 255, 0);
  display: inline-block;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: 700;
  padding: 5px 20px;
  margin-bottom: 10px;
}

.step__img img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 15px;
}
@media screen and (min-width: 425px) {
  .step__img img {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px) {
  .step__img img {
    width: 100%;
  }
}
@media screen and (min-width: 320px) {
  .step__img img {
    max-height: 150px;
  }
}
@media screen and (min-width: 660px) {
  .step__img img {
    max-height: 250px;
  }
}
@media screen and (min-width: 990px) {
  .step__img img {
    max-height: 350px;
  }
}
@media screen and (min-width: 600px) {
  .step__img {
    grid-area: img;
  }
}

.step__info {
  margin: 5px 0 15px 0;
  font-size: 1em;
}
@media screen and (min-width: 600px) {
  .step__info {
    grid-area: info;
    padding-left: 1em;
  }
}

.page__title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: start;
}
@media screen and (min-width: 768px) {
  .page__title {
    font-size: 1.5em;
  }
}

.grid-food {
  justify-content: center;
  display: grid;
  width: 100%;
}
@media screen and (min-width: 660px) {
  .grid-food {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .grid-food {
    grid-template-columns: repeat(3, 1fr);
  }
}

.food-create-link__container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 660px) {
  .food-create-link__container {
    margin: 0 15px 0 0;
  }
}
@media screen and (min-width: 990px) {
  .food-create-link__container {
    margin: 0 20px 0 0;
  }
}

.food__create-link {
  z-index: 1;
  display: inline-block;
  background: rgba(182, 182, 182, 0.25);
  border-radius: 15px;
  width: 100%;
  margin: 40px 0 auto 0;
  padding: 10px 0;
  font-weight: 600;
  text-align: center;
  box-shadow: 0px 0px 5px 1px rgb(182, 182, 182);
  transform: translate(0, -50%);
  transition: transform 0.2s;
  color: black;
}
.food__create-link:hover {
  transform: translate(0, -50%) scale(105%);
  color: black;
}

.food {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px rgb(182, 182, 182);
  margin-bottom: 20px;
  width: 310px;
}

.food__container {
  position: relative;
  transition: transform 0.2s;
}
@media screen and (min-width: 320px) {
  .food__container .food-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 5px;
    cursor: pointer;
  }
  .food__container .food-delete span {
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.76);
  }
  .food__container .food-delete span:first-child {
    transform: translate(0, 50%) rotate(45deg);
  }
  .food__container .food-delete span:last-child {
    transform: translate(0, -50%) rotate(-45deg);
  }
}
@media screen and (min-width: 660px) {
  .food__container .food-delete {
    right: 25px;
  }
}
@media screen and (min-width: 990px) {
  .food__container .food-delete {
    right: 27px;
  }
}
@media screen and (min-width: 1080px) {
  .food__container .food-delete {
    opacity: 0;
    transition: opacity 0.25s;
  }
  .food__container:hover .food-delete {
    opacity: 100;
  }
  .food__container:hover .food-delete:hover {
    transition: 0.25s;
    background: rgba(255, 255, 255, 0.56);
  }
}
.food__container:hover {
  transform: scale(105%);
}

.food__img {
  max-width: 100%;
}
.food__img img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.grid-food2 {
  display: grid;
  max-width: 100%;
  height: 28.5%;
  word-wrap: break-word;
  grid-template-columns: 150px auto;
  grid-template-areas: "a b";
  padding: 5px 15px;
  align-items: center;
}

.food__title {
  grid-area: a;
  font-weight: 300;
  display: inline;
  font-size: 1em;
}
.food__title > div {
  display: inline;
  word-wrap: break-word;
}

.food__cooking-time {
  display: inline;
  text-align: end;
  position: relative;
  grid-area: b;
}
.food__cooking-time > div {
  display: inline-block;
  font-weight: bold;
  background: url("../img/timer-icon.svg") no-repeat rgb(240, 255, 0) 0.4em center;
  background-size: 1em;
  padding: 10px 10px 10px 1.4em;
  border-radius: 25px;
}

.food__link {
  display: block;
  color: #000;
  height: 100%;
}

.recipe__title input {
  font-weight: 500;
  width: 41%;
  transition: all 0.2s ease-in;
}
.recipe__title input:focus {
  outline: none;
  transition: all 0.2s ease-out;
  width: 100%;
}
.recipe__title input::placeholder {
  font-weight: 100;
}
@media screen and (min-width: 768px) {
  .recipe__title input {
    width: 30%;
  }
}

.recipe__category {
  margin: 15px 0 10px 0;
  display: inline-block;
  position: relative;
}

.select-category {
  appearance: none;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  background: #fff;
  padding: 2px 25px 2px 10px;
  outline: none;
  cursor: pointer;
}

.select-arrow:before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -25%);
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.7px 5px 0 5px;
  border-color: black transparent transparent transparent;
  pointer-events: none;
}

.recipe__info textarea {
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  resize: none;
}

.recipe__img img {
  display: block;
  margin: 0 auto;
  min-width: 75%;
  width: auto;
  height: auto;
  max-height: 35vh;
  object-fit: cover;
}
@media screen and (min-width: 320px) {
  .recipe__img img {
    max-height: 200px;
  }
}
@media screen and (min-width: 660px) {
  .recipe__img img {
    max-height: 300px;
  }
}
@media screen and (min-width: 990px) {
  .recipe__img img {
    max-height: 400px;
  }
}
.recipe__img input {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.recipe__img__input {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 150px;
  border-radius: 15px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(182, 182, 182, 0.25);
}
.recipe__img__input img {
  margin: 0 auto;
  height: 36px;
  width: 36px;
}
@media screen and (min-width: 660px) {
  .recipe__img__input {
    height: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .recipe__img__input {
    height: 400px;
  }
}

.main-img__container {
  display: block;
  text-align: center;
  margin: auto 0;
  height: fit-content;
  width: fit-content;
}
.main-img__container img {
  object-fit: contain;
}

.info__description textarea {
  height: 100px;
  border-radius: 15px;
  border: 1px solid #b6b6b6;
  resize: none;
}
.info__description textarea:focus {
  outline: none;
  border: 1px solid #000;
}
@media screen and (min-width: 660px) {
  .info__description textarea {
    height: 150px;
  }
}

.add-ingredient__input {
  margin-top: 5px;
  margin-left: 5px;
  border-bottom: 1px solid #b6b6b6;
}

.add-ingredient__btn {
  background: rgb(240, 255, 0);
  border-radius: 15px;
  border: none;
  padding: 5px 10px;
  transition: transform 0.2s;
  width: fit-content;
  height: fit-content;
  margin: 10px auto 0;
  cursor: pointer;
}
.add-ingredient__btn:hover {
  outline: 1px solid #000;
}
.add-ingredient__btn:active {
  outline: 1px solid #000;
  transform: scale(98%);
  background: rgb(221, 243, 0);
}

.cooking-time, .portions-count {
  margin-left: 10px;
  margin-top: 15px;
}
.cooking-time input, .portions-count input {
  width: 90%;
}

.step-img__input {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 125px;
  border-radius: 15px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(182, 182, 182, 0.25);
}
.step-img__input input {
  opacity: 0;
  position: absolute;
}
.step-img__input img {
  margin: 0 auto;
  height: 36px;
  width: 36px;
}
@media screen and (min-width: 660px) {
  .step-img__input {
    min-height: 175px;
  }
}
@media screen and (min-width: 1024px) {
  .step-img__input {
    height: 250px;
  }
}

.step__info textarea {
  resize: none;
  width: 100%;
  background: #fff;
  border: 1px solid #b6b6b6;
  border-radius: 15px;
  min-height: 100px;
  padding: 10px;
}
.step__info textarea:focus {
  outline: 1px solid #000;
}
@media screen and (min-width: 660px) {
  .step__info textarea {
    height: 100%;
    margin: -5px;
  }
}

.add-step-btn {
  display: block;
  width: 250px;
  text-align: center;
  margin: 15px auto 30px;
  background: rgb(240, 255, 0);
  border-radius: 25px;
  border: 0;
  font-weight: 200;
  padding: 10px 15px;
  cursor: pointer;
  transition: transform 0.2s;
}
.add-step-btn:hover {
  outline: 1px solid #000;
}
.add-step-btn:active {
  background: rgb(221, 243, 0);
  transform: scale(99%);
}

.add-recipe-btn {
  display: block;
  margin: 0 auto 15px;
  font-size: 20px;
  background: rgb(240, 255, 0);
  border-radius: 10px;
  border: 0;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 15px;
}
.add-recipe-btn:hover {
  box-shadow: 0px 0px 5px 1px rgb(182, 182, 182);
}
.add-recipe-btn:focus {
  box-sizing: border-box;
  outline: 0;
}

.margin-btm-15 {
  margin-bottom: 15px;
}

.profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 18px;
  margin: 15px auto 0;
  max-width: 300px;
}
.profile form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.profile form > div {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .profile form {
    font-size: 1.1em;
  }
  .profile span {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1024px) {
  .profile form {
    font-size: 1.2em;
  }
  .profile span {
    font-size: 1.4em;
  }
}

.nickname, .password {
  background: #fff;
  border-radius: 15px;
  padding: 5px 10px;
  border: 1px solid #b6b6b6;
  margin: 5px 0 5px;
  font-weight: 300;
}
.nickname:focus, .password:focus {
  outline: 1px solid #000;
  box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
}
.nickname::placeholder, .password::placeholder {
  font-weight: 200;
}
.nickname:hover:not(:focus), .password:hover:not(:focus) {
  box-shadow: 0px 0px 5px 1px rgb(182, 182, 182);
}

.btn {
  margin: 15px auto 5px;
  background: rgb(240, 255, 0);
  border-radius: 10px;
  padding: 5px 25px;
  border: 0;
  letter-spacing: 1px;
  font-weight: 600;
  min-width: 100px;
  width: fit-content;
}
.btn:focus, .btn:hover {
  outline: 1px solid #000;
}

.login {
  margin: 10px 0 5px 0;
}

.reg {
  margin: 15px 0 5px 0;
}

.error {
  font-size: 0.7em;
  font-weight: 200;
  color: red;
  font-style: italic;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
